<tr id="<%= dom_id user %>">
  <td>
    <%= user.first_name %>
  </td>

  <td>
    <%= user.last_name %>
  </td>

  <td>
    <%= user.role %>
  </td>

  <td>
    <%= link_to "Show", user, {class: "btn btn-primary"} %>
  </td>

</tr>
