<%= form_with(model: interest) do |form| %>
  <% if interest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
        <% interest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :side %>
    <%= form.text_field :side, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :share_type %>
    <%= form.text_field :share_type, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :shares_min %>
    <%= form.number_field :shares_min, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :shares_max %>
    <%= form.number_field :shares_max, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :price_per_share %>
    <%= form.text_field :price_per_share, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
