<tr id="<%= dom_id interest %>">
<td>
    <%= interest.side %>
</td>  
<td>
    <%= interest.share_type %>
</td>  
<td>
    <%= interest.shares_min %>
</td>  
<td>
    <%= interest.shares_max %>
</td>  
<td>
    <%= interest.price_per_share %>
</td>  
<td>
    <%= interest.user.first_name %>
</td>  
<td>
    <%= interest.company.name %>
</td>  
<td>
  <%= link_to "Show", interest , {class: "btn btn-primary"}%>
</td>
</tr>
