<tr id="<%= dom_id interest %>">
<td>
    <%= interest.side %>
</td>  
<td>
    <%= interest.share_type %>
</td>  
<td>
    <%= interest.shares_min %>
</td>  
<td>
    <%= interest.shares_max %>
</td>  
<td>
    <%= interest.price_per_share %>
</td>  
<td>
    <%= link_to interest.user.name, interest.user %>
</td>  
<td>
    <%= link_to interest.company.name, interest.company %>
</td>  
<td>
  <%= link_to "Show", interest , {class: "btn btn-primary"}%>
</td>
</tr>
